@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

*{

    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

body{

    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(60vh, rgb(0, 183, 255, 0.70), rgba(0, 0, 255, 0.70));

}

main{
    
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    background: radial-gradient(60vh, rgba(255, 255, 255), rgba(201, 201, 201));
    width: 80vw;
    border-radius: 10px;

}

.quests{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.quests > h3{

    text-align: center;
    padding: 2%;
    width: 80%;
    height: 05%;
    border-radius: 10px;
    margin-top: 5%;
    background-color: rgb(245, 245, 245);

}

.quests > input{

    outline: none;
    border: none;
    padding: 2%;
    width: 80%;
    height: 05%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(245, 245, 245);
    place-content: "Digite seu nome:";
    box-shadow: 0px 0px 05px 1px;

}

.inputs{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

}

.inputs > label{

    font-size: .9em;
    padding: 5%;
    width: 50%;
    padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputs > label > input{

    margin-left: 5%;

}

.quests > button{

    outline: none;
    border: none;
    padding: 2%;
    width: 40%;
    height: 05%;
    border-radius: 10px;
    margin: 5%;
    margin-top: 02%;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 05px 1px;

}

.quests > button:hover{

    transition: 1s;
    background-color: black;
    color: white;
    scale: 110%;
    box-shadow: 0px 0px 05px 1px white;

}


img{

    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    padding: 5%;
    background-color: rgba(45, 45, 45, 0.7);
    margin-bottom: 5%;
    border-radius: 5%;

}